@import "tailwindcss";

@font-face{
font-family: proxima-nova;
font-style: normal;
font-weight: 300;
font-display: swap;
src: url("./assets/fonts/ProximaNova-Light.woff2") format("woff2");
}
@font-face{
font-family: proxima-nova;
font-style: normal;
font-weight: 400;
font-display: swap;
src: url("./assets/fonts/ProximaNova-Regular.woff2") format("woff2");
}
@font-face{
font-family: proxima-nova;
font-style: normal;
font-weight: 600;
font-display: swap;
src: url("./assets/fonts/ProximaNova-Semibold.woff2") format("woff2");
}
@font-face{
font-family: proxima-nova;
font-style: normal;
font-weight: 700;
font-display: swap;
src: url("./assets/fonts/ProximaNova-Bold.woff2") format("woff2");
}
@font-face{
font-family: proxima-nova;
font-style: normal;
font-weight: 800;
font-display: swap;
src: url("./assets/fonts/ProximaNova-ExtraBold.woff2") format("woff2");
}
@font-face{
font-family: proxima-nova;
font-style: normal;
font-weight: 900;
font-display: swap;
src: url("./assets/fonts/ProximaNova-Black.woff2") format("woff2");
}
@font-face {
     font-family: red-hot-display;
     font-style: normal;
     font-weight: 600;
     font-display: swap;
     src: url("./assets/fonts/RedHatDisplay-SemiBold.ttf") format("truetype");
}

@theme{
     --font-display: 'proxima-nova', sans-serif;
     --font-red-hot: 'red-hot-display', sans-serif;
}

@layer base {
     *{
          @apply focus:border-0 focus:outline-0
     }

     body{
          @apply font-display max-w-241.75 mx-auto;
     }
     aside{
          @apply w-46.5
     }
     a, button {
          @apply cursor-pointer transition-all duration-300 ease-in-out;
     }
}

@utility x-shadow {
     box-shadow: 0px 1px 1px 0px #0000001A;
}
@utility x-shadow-2 {
     box-shadow: 0px 2px 4px 0px #00000026;
}
@utility x-shadow-3 {
     box-shadow: 0px 1px 8px 0px #002F7040;
}
@utility x-shadow-4 {
     box-shadow: 0px 1px 4px 0px #0000000D;
}
@utility x-shadow-5 {
     box-shadow: 0px 0.2px 4px 0px #00000014;
}
@utility x-shadow-6 {
     box-shadow: 0px 0.5px 4px 0px #00000040;
}
@utility x-border-dashes {
     dashes: 2, 2;
}

@utility x-checked {
     position: relative;
     cursor: pointer;
     width: 9px;
     height: 9px;
     border-radius: 2px;

     &:before {
          content: "";
          display: block;
          position: absolute;
          width: 9px;
          height: 9px;
          inset: 0;
          background-color: #F1F1F1;
          border-radius: 2px;
     }

     &:checked::before {
          background-color: #002F70;
     }

     &:checked::after {
          position: absolute;
          content: "";
          display: block;
          width: 3px;
          height: 5px;
          border: solid #ffffff;
          border-width: 0 1.5px 1.5px 0;
          top: 1px;
          left: 3px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          z-index: 99;
     }
}